.calendar-view {
	.calendar {
		width: 100%;
    .weekday-labels,
		.date {
      display: inline-block;
			width: calc(100% / 7);
      position: relative;
      border: 1px dashed #000;
      &.empty-date {
        border: none;
      }
    }
    .weekday-labels {
      text-align: center;
    }
    .date {
      height: 100px;
      .date-number {
        position: absolute;
        top: 0px;
        right: 0px;
        vertical-align: top;
        text-align: right;
      }
      .habit-names {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }
      .habit-name {
        font-weight: bold;
        width: 100%;
        height: 100%;
      }
		}
	}
} 
